* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   body{
    background-color: lightpink;
   }

   .menu{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
    background-color: black;
   
    
   }

   .navegador{
    width: 100%;
    list-style: none;
    display: flex;
    gap: 32px;
    flex-direction: row;
    justify-content: space-around;
    
    
    
}


    .navegador-lista{
        color: white;
        text-decoration: none;
        border-radius: 3px;
        padding: 10px;
       }
   

.estructura{
    padding-top: 3.5rem;
}


  .titulo{
      font-family: cursive;
      font-size: 28px;
      
  }

 .login{
     margin:2rem;
     width: 90%;
     margin-left: 10%;
     margin-right: 10%;
     border-radius: 10px;
     border: 1px solid black;
     padding: 15px;
     background-color: white;

     


 }
 .type{
     margin:10px;
     width: 90%;
     border-bottom: 2px solid black;
     margin-bottom: 1rem;
    

 }
 .type input {
    border-style: none;
    width: 100%;

 }
 
 
 .button{
     padding: 8px;
     border-radius: 15px;
     border: 1px solid cornflowerblue;
     background-color:lightblue;
     color: black;
     margin-bottom: 1.5rem;
     width: 100%;
 }
 .button:hover{
     background-color: cornflowerblue;

 }
 .boton{
     border-style: none;
     margin-bottom: 10px;

 }

 .cuenta{
     display: flex;
     flex-direction: column;

 }
 #olvideContrasenia{
    padding: 8px;
    border-radius: 15px;
    border: 1px solid lightblue ;
    background-color:lightblue;
    color: black;
    margin-bottom: 1rem;
}
#olvideContrasenia:hover{
    background-color: white;
}



